<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModGuitar -- Purchase Failed</title>
    <link rel="stylesheet" href="./css/demo.css">
</head>
<body>
<div class="conf-container">
    <div class="header-container">
        <div class="logo-container">
            <!-- Added a link to mainscreen.html on the logo -->
            <a th:href="@{/mainscreen}" class="logo-link">
                <div class="logo">
                    <!-- Added CSS in /static/css/demo.css -->
                    <div class="logo-text"><img src="./images/logo-white.png" width="35px"></div>
                </div>
            </a>
            <div class="title-text"><strong>Mod</strong>Guitar</div>
        </div>
    </div>
    <div class="purchase-status">
        <div class="purchase-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="125" height="125" fill="#BD2734" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>
        Product purchase failed. Item is out of stock.
    </div>
    <a th:href="@{/mainscreen}" class="flex-sm-fill text-sm-center nav-link m-2" aria-current="page">Return Home</a>
</div>

</body>
</html>